*{
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p{
  font-size: 20px;
}
body{
  min-height: 100vh;
  background: linear-gradient(180deg,brown,black);
}
header{
  text-align: center;
  margin: 24px 0px;
  color: #fff;
}
.wrapper{
  padding: 24px;
  background: white;
  border-radius: 12px;
  width: fit-content;
  margin: auto;
}
.cards, .card, .view, .details, p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 12px;
}
.cards .card{
  cursor: pointer;
  position: relative;
  height: 84px;
  width: 84px;
}
.cards .card .view{
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  position: absolute;
  background: #fff;
  border-radius: 7px;
  border: 2px solid brown;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
}

/* ---------------------------------- */
.card .front-view img{
  max-width: 17px;
}
.card .back-view{
  transform: rotateY(-180deg);
}
.card .back-view img{
  max-width: 40px;
}
.card.flip .front-view{
  transform: rotateY(180deg);
}
.card.flip .back-view{
  transform: rotateY(0);
}

/* ---------------------------------- */
.details{
  margin-top: 24px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid brown;
  justify-content: space-between;
}

/* ---------------------------------- */
.details button{
  width: 48%;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  padding: 12px;
  background: brown;
  border: 2px solid brown;
}